<h2><%= @list.name %></h2>

<p><strong>Bookmarks</strong></p>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.comment %></li>
    <li class="list-group-item"><%= bookmark.movie.title %></li>
    <li class="list-group-item"><%= bookmark.list.name %></li>
  <% end %>
</ul>
<br>

<%= link_to "+ Create a new bookmark", new_movie_bookmark_path(@list) %>

<p>
<%= link_to "Back to movie list", lists_path %>
<p>
